
@{
    Layout = null;
}
@using System.Configuration;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="@Url.Action("PaymentWithPaypal")">
        <img src="~/Content/44_Yellow_PayPal_Pill_Button.png" alt="Alternate Text" />
    </a>
</body>
</html>
